body{
    background-color: #74ffda;
    color: red;
}
#header{
    position: relative;
    text-align: center;
    font-size: 32px;
}
.selector{
    position: relative;
    text-align: center;
}
#animalListHeader{
    position: relative;
    text-align: center;
    font-size: 24px;
}
#animalsCreated{
    position: relative;
    text-align: center;
    border: solid white 2px;
    margin-left: 10%;
    margin-right: 10%;
}
#disclaimer{
    position: relative;
    text-align: center;
    color: red;
    font-weight: bold;
}